.toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
}

.toggle:before {
    content: '+';
    position: absolute;
    font-size: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.toggle.active:before {
    transform: rotate(405deg);
    background: #f7be16;
    color: #000;
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    border-width: 0px;
    background-color: rgb(218, 218, 218);
}

.overlay.active {
    transform: scale(100, 100);
}

.menu {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-left: 500px;
    overflow: hidden;
    visibility: hidden;
}

.menu.active {
    visibility: visible;
    position: fixed;
    transition-delay: 0.5s;
    animation: scale 1s;
}

@keyframes scale {
    0% {
        transform: scaleY(0.8);
    }
    100% {
        transform: scaleY(1);
    }
}

.menu ul {
    list-style: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    line-height: 100px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

.menu ul li a:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: -10px;
    width: 100%;
    height: 20px;
    background: #f7be16;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

.menu ul li a:hover:before {
    transform: scaleX(1);
}